---
---

@import "{{ site.theme }}";

#header {
    display: none;
}

.img-container
{
    text-align: center;
}

.credits
{
    display: none !important;
}

.lower-credits
{
    float: none;
}

#title
{
   margin: 0 0 0 0 !important; 
}